body{
    margin: 0;
    background-image: url(https://c0.wallpaperflare.com/preview/972/762/459/roll-film.jpg);
    
    width: 100%;
    height: 700px;
}
.nav{
    background-color: #C850C0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: right;
}
.nav img{
    border: 2px solid white;
    margin-top: 4px;
    border-radius: 10px;
    margin-right: 87%;
}
.nav button{
    margin-top: 15px;
    margin-right: 5px;
    height: 30px;
    width: 60px;
    border-radius: 10px;
}
.nav a{
    font-family: monospace;
    text-decoration: none;
}
.nav button:hover{
    background-color: pink;
}
.main{
   width: 60%;
   height: 500px;
   background-color: #85FFBD;
   background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
   border-radius: 50px;
   margin-left: 20%;
   margin-right: 20%;
   margin-top: 10%;
}
.about{
    width: 100%;
    height: 80%;
}

.images{
    display: flex;
    height: 20%;
     padding-top: 17%;
    margin-left: 76%;
}
.images img{
    opacity: 0.8;
    margin-left: 20px;
}
.images img:nth-child(3){
    margin-left: 17px;
}
.images img:nth-child(4){
    margin-left: 10px;
}
.images img:hover{
    opacity: 1;
}

.media{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    width: 100%;
    height: 500px;
    border-radius: 50px;
}

.media video{
    margin-top: 5%;
    margin-left: 14%;
    border: 2px solid greenyellow;
    border-radius: 50px;
    
}

.media1 {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    width: 100%;
    height: 500px;
    border-radius: 50px;
    margin-top: 8%;
}

.media1 iframe{
    margin-top: 5%;
    margin-left: 19.6%;
    border: 2px solid greenyellow;
    border-radius: 50px;
}

.media1 img{
    margin-top: 5%;
    margin-left: 19.6%;
    border: 2px solid greenyellow;
    border-radius: 50px;
}