body{
    background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    margin: 0;
}
.nav{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;    
    margin-left: 1.5%;

    width: 97%;
    height: 60px;
    display: flex;
    justify-content: right;
}
.nav img{
    margin-top: 4px;
    margin-right: 86%;
}
.nav button{
    margin-top: 14px;
    margin-right: 5px;
    height: 30px;
    width: 60px;
    border-radius: 10px;
}
.nav a{
    font-family: monospace;
    text-decoration: none;
}

.nav button:hover{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.awards{
    display: flex;
    margin-top: 2%;
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

    width: 60%;
    height: 400px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;


}
.awards li{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:medium ;
    border: 2px solid aliceblue;
    background-color: aliceblue;
    border-radius: 20px;
    width: fit-content;
    padding: 6px;
    list-style: none;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
}

.awards img{
    opacity: 100%;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 2%;
    padding-top: 3%;
}

.ProductPage{
    background-color: rosybrown;
    opacity: 1;
    width: 20%;
    height: 100px;
    margin-left: 36%;
    margin-top: 2%;
    border-radius: 20px;
    padding: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ProductPage h3{
    margin-left: 18%;
}
.ProductPage button{
    font-family: monospace;
    border-radius: 20px;
    margin-left: 30%;
}

.ProductPage button:hover{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

.ProductPage a{
    text-decoration: none;
}